<!-- Navigation -->
<div id="announcement-bar" class="announcement-bar container" style="background-color: #{{ site.color.primary }}; padding-top: 5px; padding-bottom: 5px;"> 
    <a href="mailto:example@example.com" style="margin-right: 20px; color: #333; text-decoration: none;">example@example.com</a>
    <a href="tel:+1234567890" style="color: #333; text-decoration: none;">+1 (234) 567-890</a>
</div>
<style>
  .announcement-bar {
    background-color: #f8d7da;
    color: #721c24;
    text-align: right;
    font-weight: bold;
    padding: 10px 0;
    width: 100%;
  }
  @media(max-width:767px) {
    .announcement-bar {
      text-align: center;
    }
  }
  .navbar-fixed-top {
    margin-top: 30px; /* Adjust this value to match the height of the announcement-bar */
    transition: margin-top 0.5s ease; /* Smooth transition */
  }
</style>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#page-top">{{ site.title }}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <li class="page-scroll">
          <a href="#portfolio">Portfolio</a>
        </li>
        <li class="page-scroll">
          <a href="#about">About</a>
        </li>
        <li class="page-scroll">
          <a href="#contact">Contact</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

<script>
  document.addEventListener('scroll', function () {
    const announcementBar = document.getElementById('announcement-bar');
    const navbar = document.querySelector('.navbar-fixed-top');
    const announcementBarHeight = announcementBar.offsetHeight;

    if (window.scrollY > announcementBarHeight) {
      navbar.style.marginTop = '0';
    } else {
      navbar.style.marginTop = `${announcementBarHeight}px`;
    }
  });
</script>
